/*Inicio de Redes Sociales*/

.banner{
    display:        flex;
    align-items:    center;
    justify-content:center;
    margin:         0 auto;
    padding:        2rem;
}
/*
.line{
    position:         absolute;
    width:            1728px;
    height:           7px;
    margin-top:       150px;
    background:       var(--button_active);
    z-index:          -1;
    margin-left:      0;
}*/

.grid-container {
   display:         flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
  }
  
  .grid__image {
    max-width:              100%;
    height:                 auto;
  }
  
  /*Fin de Redes Sociales*/